body {
  background-color: rgb(31, 41, 17) !important;
}

.navbar {
    background-color: antiquewhite;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
  }
  
  .navbar-brand, .offcanvas-title {
    font-weight: 700;
    color:cadetblue;
    font-size: 24px;
    transition: 0.3s color;
  }
  
  .navbar-brand:hover, .offcanvas-title:hover {
    font-weight: 700;
    color:seagreen;
    font-size: 24px;
    transition: 0.3s color;
  }
  
  .nav-toggler {
    border: none;
    font-size: 1.25rem;
  }
  
  .nav-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
  }
  
  .nav-link {
    color:cadetblue;
    font-weight: 500;
    position: relative;
  }
  
  .nav-link:hover, .nav-link.active {
    color:seagreen;
    font-weight: 700;
  }
  @media (min-width: 991px){
  
    .nav-link::before {
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: seagreen;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
  
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
  }

.typer {
    display: flex;
    font-family: "Courier Monospace";
    font-size: 1.75em;
    color: beige;
    overflow-wrap: normal;
    padding-right: 10px;
    padding-bottom: 10px;
}

.donut-size {
  padding-top: 10%;
  padding-bottom: 30px;
  font-size: 8em;
}

.pie-wrapper {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0px auto;
}

.pie {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
}

.half-circle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0.1em solid hsl(168, 76%, 42%);
  border-radius: 50%;
  clip: rect(0em, 0.5em, 1em, 0em);
}

.right-side {
  transform: rotate(0deg);
}

.label {
  position: absolute;
  top: 0.52em;
  right: 0.4em;
  bottom: 0.4em;
  left: 0.4em;
  display: block;
  background: none;
  border-radius: 50%;
  color: #7F8C8D;
  font-size: 0.25em;
  line-height: 2.6em;
  text-align: center;
  cursor: default;
  z-index: 2;
}

.smaller {
  padding-bottom: 20px;
  color: #BDC3C7;
  font-size: .45em;
  vertical-align: super;
}

.shadow {
  width: 100%;
  height: 100%;
  border: 0.1em solid #BDC3C7;
  border-radius: 50%;
}
