.background {
    background: url(https://images.sidearmdev.com/convert?url=https%3a%2f%2fdxbhsrqyrr690.cloudfront.net%2fsidearm.nextgen.sites%2funionathletics.com%2fimages%2f2021%2f5%2f11%2f2019_Union_AerialPhotos_11.png&type=webp) no-repeat center;
    background-size: cover;
    width: 100%;
}
  
.background:before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
  
.background .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}
  
.background h1 {
    font-size: 1.5em;
}
  
.background h2 {
    font-size: 1.2em;
}

.navbar {
    background-color: antiquewhite;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.offcanvas {
    background-color: antiquewhite;
}

.navbar-brand, .offcanvas-title {
    font-weight: 700;
    color:cadetblue;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-brand:hover, .offcanvas-title:hover {
    font-weight: 700;
    color:seagreen;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.nav-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

@media (min-width: 991px){

    .nav-link::before {
        content:"";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: seagreen;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

div {
    display: flex;
    margin: 4%;
    padding: 2%;
    box-shadow: inset 0 0 12px blue;
 }
 p {
    font-family: "Courier Monospace";
    font-size: 2em;
    color: red;
 }
 p:last-of-type {
    animation: type 0.33s infinite;
 }
 @keyframes type{
    to { opacity: .0; }
 }